body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.success{
  background-color: green;
  color: black;
}

.failure{
  background-color: red;
}

a {
  color: #00B7FF;
}

.error{
  background-color: red;
  color: white;
  border-radius: 3px;
  padding: 15px;
}
